.doctor-table{
  margin-top: 20px;
}

.doctor-table-delete{
  color:#f46e65;
}

.doctor-table-delete:hover{
  color:#f79992;
}

.doctor-table-pager {
  float:right;
  margin-top: 20px;
}


.doctor-detail-path {
  margin-bottom: 20px;
}
